@font-face {
    font-family: myMainFont;
    src: url(../fonts/roboto/Roboto_Condensed/RobotoCondensed-VariableFont_wght.ttf);
}

@font-face {
    font-family: MontserratItalic;
    src: url(/static/fonts/Montserrat/Montserrat-Italic-VariableFont_wght.ttf);
}

@font-face {
    font-family: inkProphecy;
    src: url(../fonts/ink-prophecy/the-ink-prophecy/The\ Ink\ Prophecy.ttf);
}

@font-face {
    font-family: MySecondaryFont;
    src: url(../fonts/Bebas_Neue/BebasNeue-Regular.ttf);
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: MontserratItalic, sans-serif;
    margin-top:10px
}


body {
    background-image: linear-gradient(#1b1112, #4f2640);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.emailLink{
    color: white;
    text-decoration: underline;
}

.topnav {
    margin-left: 40px;
    overflow: hidden;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.findUsContainer{
    margin: 50px auto;
    max-width: 900px;
    padding: 20px;
}

.findUsTitle{
    color: white;
    text-align: center;
}

.findUsMap{
    width: 100%;
    height: 400px;
    margin: 20px 0;
    border-radius: 10px;
}

.navIcon{
    font-size: 90px;
    font-family: inkProphecy, sans-serif;
}

.topnav a.split div.split {
    float: right;
    color: white;
}

.splitDiv{
    float:right;
    margin-right: 40px;
    display: flex;
    align-items: center;
    gap: 0;
}

.imageRight{
    float:right;
    margin-right: 40px;
}

.rightBox{
    margin-top: 8px;
    width: 435px;
    height: 60px;
    background-color: white;
    border-radius: 50px;
}

.rightBoxFont{
    font-family: MontserratItalic, sans-serif;
    background-color: black;
    border-radius: 50px;
    width: 100px;
    text-align:center;
    margin-top: 7px;
    margin-left: 10px;
}

.mTextBoxBig{
    font-size: 50px;
}

.mTextBoxMed{
    font-size: 30px;
    width: 600px;
}

.mTextBox{
    color: white;
    width: 550;
    height: 84;
    font-family: MontserratItalic, sans-serif;
    margin-top: 200px;
    margin-left: 40px;
    padding: 14px 16px;
}

.buttonBox{
    width: 550;
    height: 84;
    margin-top: 50px;
}

.buttonBackground{
    padding: 20px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: white;
    color:black;
    text-decoration: none;
    border-radius: 10px;
}


.menuContainer {
    max-width: 1200px;
    margin: 80px auto;
    padding: 0 40px;
    color: white;
}

.menuItem {
    display: flex;
    align-items: center;
    margin-bottom: 60px;
    gap: 40px;
}

.menuDescription {
    flex: 1;
    padding-right: 20px;
}

.menuCategory {
    font-family: inkProphecy, sans-serif;
    font-size: 48px;
    color: #f2f2f2;
    margin-bottom: 30px;
    margin-top: 40px;
}

.menuItemTitle {
    font-family: MySecondaryFont, sans-serif;
    font-size: 32px;
    color: #ffffff;
    margin-bottom: 15px;
    margin-top: 0;
}

.menuItemText {
    font-family: MontserratItalic, sans-serif;
    font-size: 18px;
    color: #e0e0e0;
    line-height: 1.6;
    margin-bottom: 15px;
}

.menuPrice {
    font-family: MySecondaryFont, sans-serif;
    font-size: 24px;
    color: #ffffff;
    font-weight: bold;
    margin-top: 10px;
}

.menuImage {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menuImage img {
    max-width: 100%;
    height: auto;
    max-height: 300px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 15px #000000;
}

.menuPlaceholder {
    opacity: 0.7;
    filter: brightness(0.9);
}

@media only screen and (max-device-width: 1230px) {
    .navIcon{
    font-size: 20px;
    font-family: inkProphecy, sans-serif;
}
}

@media only screen and (max-device-width: 1000px) {
html, body {
    margin-bottom: 70px;
    height: auto;
    min-height: 100vh;
}
.navIcon{
    font-family: inkProphecy, sans-serif;
}
.mTextBox{
    margin-top: 10px;
    height: auto;
    margin-bottom: 0;
}
.imageRight{
    visibility: hidden;
    height: 0px;
    width: 0px;
}
.mTextBoxBig{
    height:auto;
    font-size: 20px;
    margin: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;

}
.mTextBox{
    margin-top:10px;
    padding-top: 10px 0px 0px 0px;
}
.topnav {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    margin-left: 0;
    background-color: #1a1112;
    backdrop-filter: blur(10px);
    z-index: 1000;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    box-shadow: 0 -2px 10px #000000;
}
.topnav a {
    float: none;
    flex: 1;
    text-align: center;
    color: #ffffff !important;
}
.topnav a.split div.split {
    color: white;
}
.topnav .navIcon {
    color: #ffffff !important;
}

.splitDiv{
    float: none;
    margin-right: 0;
    flex: 1;
    display: flex;
    justify-content: center;
}

.rightBox{
    margin-top: 0;
    width: auto;
    height: auto;
    background-color: transparent;
    border-radius: 0;
    padding: 0;
}

.rightBoxFont{
    color: black;
    padding: 10px 20px;
    border-radius: 25px;
    display: inline-block;
}

.mTextBoxMed{
    font-size: 20px;
    width: 200px;
}

/* Mobile Menu Styles */
.menuContainer {
    margin: 20px auto;
    padding: 0 20px;
}

.menuItem {
    flex-direction: column;
    margin-bottom: 40px;
    gap: 20px;
}

.menuDescription {
    padding-right: 0;
    width: 100%;
}

.menuCategory {
    font-size: 32px;
    margin-bottom: 20px;
    margin-top: 30px;
}

.menuItemTitle {
    font-size: 24px;
    margin-bottom: 10px;
}

.menuItemText {
    font-size: 16px;
    margin-bottom: 10px;
}

.menuPrice {
    font-size: 20px;
}

.menuImage {
    width: 100%;
}

.menuImage img {
    max-height: 200px;
    width: 100%;
}

body {
    padding-bottom: 70px;
    min-height: auto;
}
}