@font-face {
    font-family: myMainFont;
    src: url(../fonts/roboto/Roboto_Condensed/RobotoCondensed-VariableFont_wght.ttf);
}

@font-face {
    font-family: MontserratItalic;
    src: url(/static/fonts/Montserrat/Montserrat-Italic-VariableFont_wght.ttf);
}

@font-face {
    font-family: inkProphecy;
    src: url(../fonts/ink-prophecy/the-ink-prophecy/The\ Ink\ Prophecy.ttf);
}

@font-face {
    font-family: MySecondaryFont;
    src: url(../fonts/Bebas_Neue/BebasNeue-Regular.ttf);
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: MontserratItalic, sans-serif;
    margin-top:10px
}

body {
    background-image: linear-gradient(#1b1112, #4f2640);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.topnav {
    margin-left: 40px;
    overflow: hidden;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navIcon{
    font-size: 90px;
    font-family: inkProphecy, sans-serif;
}

.topnav a.split div.split {
    float: right;
    color: white;
}

.splitDiv{
    float:right;
    margin-right: 40px;
}

.imageRight{
    float:right;
    margin-right: 40px;
}

.rightBox{
    margin-top: 8px;
    width: 408px;
    height: 60px;
    background-color: white;
    border-radius: 50px;
}

.rightBoxFont{
    font-family: MontserratItalic, sans-serif;
    background-color: black;
    border-radius: 50px;
    width: 100px;
    text-align:center;
    margin-top: 7px;
    margin-left: 10px;
}

.mTextBoxBig{
    font-size: 50px;
}

.mTextBoxMed{
    font-size: 30px;
    width: 600px;
}

.mTextBox{
    color: white;
    width: 550;
    height: 84;
    font-family: MontserratItalic, sans-serif;
    margin-top: 200px;
    margin-left: 40px;
    padding: 14px 16px;
}

.buttonBox{
    width: 550;
    height: 84;
    margin-top: 50px;
}

.buttonBackground{
    padding: 20px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: white;
    color:black;
    text-decoration: none;
    border-radius: 10px;
}

@media only screen and (max-device-width: 1230px) {
    .navIcon{
    font-size: 20px;
    font-family: inkProphecy, sans-serif;
}
}

@media only screen and (max-device-width: 1000px) {
html, body {
    height: auto;
    min-height: 100vh;
}
.navIcon{
    font-family: inkProphecy, sans-serif;
}
.mTextBox{
    margin-top: 10px;
    height: auto;
    margin-bottom: 0;
}
.imageRight{
    visibility: hidden;
    height: 0px;
    width: 0px;
}
.mTextBoxBig{
    height:auto;
    font-size: 20px;
    margin: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;

}
.mTextBox{
    margin-top:10px;
    padding-top: 10px 0px 0px 0px;
}
.topnav {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    margin-left: 0;
    background-color: rgba(27, 17, 18, 0.98); /* More opaque dark background */
    backdrop-filter: blur(10px);
    z-index: 1000;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.3);
}
.topnav a {
    float: none;
    flex: 1;
    text-align: center;
    color: #ffffff !important; /* White text for visibility on dark navbar */
}
.topnav a.split div.split {
    color: white;
}
.topnav .navIcon {
    color: #ffffff !important; /* Ensure navIcon text is white if visible */
}

.splitDiv{
    float: none;
    margin-right: 0;
    flex: 1;
    display: flex;
    justify-content: center;
}

.rightBox{
    margin-top: 0;
    width: auto;
    height: auto;
    background-color: transparent;
    border-radius: 0;
    padding: 0;
}

.rightBoxFont{
    background-color: white;
    color: black;
    padding: 10px 20px;
    border-radius: 25px;
    margin: 0;
    display: inline-block;
}

.mTextBoxMed{
    font-size: 20px;
    width: 200px;
}
body {
    padding-bottom: 70px; /* Add padding to prevent content from being hidden behind fixed navbar */
    min-height: auto; /* Allow body to shrink to content size */
}
}