@font-face {
    font-family: myMainFont;
    src: url(../fonts/roboto/Roboto_Condensed/RobotoCondensed-VariableFont_wght.ttf);
}

@font-face {
    font-family: MontserratItalic;
    src: url(/static/fonts/Montserrat/Montserrat-Italic-VariableFont_wght.ttf);
}

@font-face {
    font-family: inkProphecy;
    src: url(../fonts/ink-prophecy/the-ink-prophecy/The\ Ink\ Prophecy.ttf);
}

@font-face {
    font-family: MySecondaryFont;
    src: url(../fonts/Bebas_Neue/BebasNeue-Regular.ttf);
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: MontserratItalic, sans-serif;
    margin-top:10px
}

body {
    background-image: linear-gradient(#1b1112, #4f2640);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.topnav {
    margin-left: 40px;
    overflow: hidden;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navIcon{
    font-size: 90px;
    font-family: inkProphecy, sans-serif;
}

.topnav a.split div.split {
    float: right;
    color: white;
}

.splitDiv{
    float:right;
    margin-right: 40px;
}

.rightBox{
    margin-top: 8px;
    width: 408px;
    height: 60px;
    background-color: white;
    border-radius: 50px;
}

.rightBoxFont{
    font-family: MontserratItalic, sans-serif;
    background-color: black;
    border-radius: 50px;
    width: 100px;
    text-align:center;
    margin-top: 7px;
    margin-left: 10px;
}

.mTextBoxBig{
    font-size: 50px;
}

.mTextBoxMed{
    font-size: 30px;
    width: 600px;
}

.mTextBox{
    color: white;
    width: 550;
    height: 84;
    font-family: MontserratItalic, sans-serif;
    margin-top: 200px;
    margin-left: 40px;
    padding: 14px 16px;
}

.buttonBox{
    width: 550;
    height: 84;
    margin-top: 50px;
}

.buttonBackground{
    padding: 20px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: white;
    color:black;
    text-decoration: none;
    border-radius: 10px;
}


@media only screen and (max-device-width: 480px) {
    
}