<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="icon" type="image/x-icon" href="../static/images/favicon.ico">
    <link rel="manifest" href="../static/manifest.json">
    <title>Sunbucks</title>
</head>

<body>
    <div class="topnav">
        <a href="home.html" class="navIcon">Sunbucks</a>
        <div class="splitDiv">
            <div class="rightBox" style="display: inline-block; vertical-align: middle;">
                <a href="menu.html" class="rightBoxFont">Menu</a>
                <a href="contact.html" class="rightBoxFont">Contact</a>
                <a href="findUs.html" class="rightBoxFont">Find Us</a>
            </div>
        </div>
    </div>

    <div class="mTextBox">
        <img class="imageRight" src="../static/images/coffeeCupIcon.png" alt="Coffee Icon">
        <h1 class="mTextBoxBig">Get in Touch</h1>
        <p class="mTextBoxMed">We'd love to hear from you! Reach out to us via email for any questions, feedback, or inquiries.</p> 
        
        <p class="mTextBoxMed" style="margin-top: 30px;">
            Email: <a class="emailLink" href="mailto:contact@sunbucks.com">contact@sunbucks.com</a>
        </p>

    <div class="buttonBox">
        <a href="findUs.html" class="buttonBackground">Have a look around</a>
    </div>
    </div>

</body>
</html>