<!--Reference from https://biologica.com/ -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="icon" type="image/x-icon" href="../static/images/coffeeCupIcon.ico">
    <link rel="manifest" href="../static/manifest.json">
    <title>Sunbucks</title>
</head>

<body>
    <div class="topnav">
        <a href="home.html" class="navIcon">Sunbucks</a>
        <div class="splitDiv">
            <div class="rightBox" style="display: inline-block; vertical-align: middle;">
                <a href="menu.html" class="rightBoxFont">Menu</a>
                <a href="contact.html" class="rightBoxFont">Contact</a>
                <a href="findUs.html" class="rightBoxFont">Find Us</a>
            </div>
        </div>
    </div>

    <div class="mTextBox">
        <img class="imageRight" src="../static/images/coffeeCupIcon.png" alt="Coffee Icon">
        <h1 class="mTextBoxBig">Sometimes you just need to grab<br> a coffee and enjoy</h1>
        <!--ChatGPT Generation START-->
        <p class="mTextBoxMed">A neighborhood spot for thoughtfully brewed coffee, fresh food, and unhurried moments. Come in, slow down, and stay awhile.</p> 
        <!--ChatGPT Generation END-->

    <div class="buttonBox">
        <a href="menu.html" class="buttonBackground">Have a look around</a>
    </div>
    </div>
</body>
</html>