<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="icon" type="image/x-icon" href="../static/images/favicon.ico">
    <title>Sunbucks</title>
</head>

<body>
    <div class="topnav">
        <a href="home.html" class="navIcon">Sunbucks</a>
        <div class="splitDiv">
            <div class="rightBox">
                <a href="order.html" class="rightBoxFont">Order Now</a>
            </div>
        </div>
    </div>

    <div class="">

    </div>

</body>
</html>