<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="icon" type="image/x-icon" href="../static/images/favicon.ico">
    <title>Sunbucks</title>
</head>

<body>
    <div class="topnav">
        <a href="home.html" class="navIcon">Sunbucks</a>
        <div class="splitDiv">
            <div class="rightBox">
                <a href="order.html" class="rightBoxFont">Order Now</a>
            </div>
        </div>
    </div>

    <div class="mTextBox">
        <img class="splitDiv" src="../static/images/coffeeCupIcon.png" alt="Coffee Icon">
        <h1 class="mTextBoxBig">Sometimes you just need to grab<br> a coffee and enjoy</h1>
        <!--ChatGPT Generation START-->
        <p class="mTextBoxMed">A neighborhood spot for thoughtfully brewed coffee, fresh pastries, and unhurried moments. Come in, slow down, and stay awhile.</p> 
        <!--ChatGPT Generation END-->

    <div class="buttonBox">
        <a href="order.html" class="buttonBackground">Have a look around</a>
    </div>

    
</body>

</html>